
.board{
  height: 600px;
  width: 1300px;
  background-color: black;
  position:fixed
}
.p1{
  top: 205px;
  position: fixed;
  left: 0px;
  height: 90px;
  width: 90px;
}
.p2{
  top: 305px;
  position: fixed;
  left: 0px;
  height: 90px;
  width: 90px;
}
.startingpiece{
  content:url(pictures/startingkhaled.png);
}
.addKhaledP1{
  content:url(pictures/madkhaled.png);
}
.track{
  top: 200px;
  height: 200px;
  width: 1300px;
  background-color: white;
  position: fixed;
}
.winning{
  content:url(pictures/winningkhaled.png);
}
