
body{
  background-color: black;
}
.track{
  top: 200px;
  height: 200px;
  width: 1500px;
  background-color: white;
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*.scoreboard{
  top: 420px;
  left: 1050px;
  position: relative;
  height: 250px;
  width: 300px;
  background-color: blue;
  text-align: center;
}*/
.p1sizing{
  top: 205px;
  position: fixed;
  left: 0px;
  height: 90px;
  width: 90px;
}
.p2sizing{
  top: 305px;
  position: fixed;
  left: 0px;
  height: 90px;
  width: 90px;
}
.key{
  width:80px;
  height: 80px;
}
.instructions{
  color: white;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  position: relative;
}
.showWinner{
  position: fixed;
  top: 500px;
  left: 530px;
  font-size: 50px;
}
/*.p1score{
  position: absolute;
}
.p2score{
  left: 150px;
  position: absolute;
}*/
.starting{
  content:url(pictures/startingkhaled.png);
}
.losing{
  content:url(pictures/madkhaled.png);
}
.winning{
  content:url(pictures/winningkhaled.png);
}
button{
  position:fixed;
  color:white;
  top: 600px;
}
