
body{
  background-color: black;
}
.p1{
  top: 205px;
  position: fixed;
  left: 0px;
  height: 90px;
  width: 90px;
}
.p2{
  top: 305px;
  position: fixed;
  left: 0px;
  height: 90px;
  width: 90px;
}
.startingpiece{
  content:url(pictures/startingkhaled.png);
}
.addKhaledP1{
  content:url(pictures/madkhaled.png);
}
.track{
  top: 200px;
  height: 200px;
  width: 1350px;
  background-color: white;
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.winning{
  content:url(pictures/winningkhaled.png);
}

.btn{
  top: 700px;
}
.score{
  top: 420px;
  left: 1050px;
  position: relative;
  height: 250px;
  width: 300px;
  background-color: blue;
  text-align: center;
}
.p1score{
  position: absolute;

}
.p2score{
  left: 150px;
  position: absolute;
}
